*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --light-orange: #f2d0a9ff;
  --almond: #f1e3d3ff;
  --crimson: #dc143cff;

  /* General */
  --dark-base: #222;
  --lighter-dark: #333;
  --gray: #858585;
  --light-gray: #d2d2d2;
  --light-white: #f1f1f1;

  /* Active */
  --active-almond: #feecd7;
  --active-light-white: #dedede;
  --active-crimson: #c51337;

  /* Fonts */
  --base-font: Raleway, sans-serif;
  --accent-font: Nunito sans, sans-serif;

  /* Font-size */

  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-40: 2.5rem;
  --fs-42: 2.625rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;

  /* shadows */
  --light-solid-shadow: 0 2px 0px #111111cc;
  --solid-shadow: 0 2px 0px #111;
  --shadow-sm: 0 2px 4px rgba(17, 17, 17, 0.502);
  --drop-shadow: 1px 1px 0px #1111114d;

  /* gradients */
  --striped-pinky: repeating-linear-gradient(
      135deg,
      rgba(106, 100, 100, 0.1) 0px,
      rgba(106, 100, 100, 0.1) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to right, #f3cdcd, #f4e0bb);
  --light-orange-pinky: linear-gradient(to left, #fcd4d4, #f8d9a0);
  --dark-right : linear-gradient(to bottom right, #252525, #383838);
  --dark-left : linear-gradient(to bottom left, #252525, #383838);
  --radial-white-beige:  radial-gradient(#f1f1f1, #f5f5dc);

  /* borders */
  --light-dark-border: 1px solid var(--lighter-dark);
  --dark-thick-border: 2px solid var(--lighter-dark);
}

/* Global & utilities */
  body {
    font-family: var(--base-font);
    color: var(--dark-base);
    background-color: var(--light-white);
  }  
  button,
  input {
    font-family: var(--base-font);
  }  
  .container {
    max-width: 1100px;
    margin: 0 auto;
  }  
  .main-heading {
    font-size: var(--fs-72);
    font-family: var(--accent-font);
    color: var(--light-white);
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }

  /* Navigation */
  nav {
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: var(--light-orange);
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid var(--dark-base);
  }
  nav a {
    text-transform: uppercase;
    color: var(--dark-base);
    text-decoration: none;
    font-weight: 600;
    padding : 0 20px;
  }

/* Hero section */
.hero-section {
  min-height: 450px;
  background-image: url(./ressources/hero-background-semi-dark.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 200px;
}
.hero-btn {
  min-width: 125px;
  border: none;
  border-radius: 999px;
  text-transform: uppercase;
  padding: 10px;
  font-size: var(--fs-12);
  font-weight: 600;  
}
.hero-btn-1 {
  background-color: var(--light-white);
  color: var(--lighter-dark);
}
.hero-btn-2 {
  background-color: var(--crimson);
  color: var(--light-white);
}
@media (max-width: 768px) {
  .main-heading {
    font-size: var(--fs-42);
  }
  .hero-section {
    min-height: 550px;
  }
  .hero-btn {
    min-width: 100px;
    padding: 10px 12px;
    font-size: var(--fs-12);
    margin-bottom: 10px;
    padding: 5px;
  }
}

/* Activities */
.activities-section {
  background-image: var(--striped-pinky);
  width: 100%;
  display: flex;
  justify-content: center;
}
.negative-container {
  background-color: var(--active-almond);
  transform: translateY(-100px);
  width: 100%;
  /* max-width: 800px; */
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.activities-heading p,h2 {
  text-align: center;
}
.activities-heading p {
  margin-top: 20px;
  margin-bottom: 5px;
  color:var(--gray);
  font-size: var(--fs-14);
}
.activities-heading h2 {
  margin-bottom: 50px;
  font-size: var(--fs-26);
  font-family: var(--accent-font);
}
.activity-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--active-light-white);
  border-radius: 5px;
  max-width: 90%;
  margin-bottom: 20px;
}
.activity-description {
  width: 100%;
  min-width: 500px;
  border-radius: 3px;
  background-color: var(--dark-base);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.activity-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 35px;
  color: var(--light-white);
}
.activity-info p,
.activity-info h3 {
  font-size: var(--fs-14);
  font-weight: 300;
  margin-bottom: 20px;
}
.activity-info p {
  line-height: 1.5;
  font-weight: 200;
}
.activity-info h3 {
  font-size: var(--accent-font);
  font-weight: 400;
}
.activity-description img {
  width: 50%;
  padding: 25px;
  object-fit: cover; 
}
.activity-link {
  min-width: 150px;
  align-self: flex-start;
  text-decoration: none;
  text-align: center;
  padding: 10px 14px;
  border: none;
  border-radius: 3px;
  font-size: var(--fs-14);
  font-weight: 600;
  background-color: var(--light-white);
  color: var(--dark-base);
}
.activity-2 {
  flex-direction: row-reverse;
}
@media (max-width: 600px) {
  .activity-container {
    max-width: 500px;
    margin-bottom: 20px;
  }
}

/* Parallax */

.parallax {
  height: 250px;
  background-image: url(./ressources/parallax-large-flou.jpg);
  background-attachment: fixed;
  /* background-color: red; */
  /* position: fixed; */
  background-position: center;
  /* background-size: cover; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 200px; */
  color: var(--active-almond);  
}
.parallax .parallax-japanese-text {
  font-size: var(--fs-40);
  font-weight: 600;
}
.parallax .parallax-text {
  font-size: var(--fs-20);
}
@media (max-width: 600px) {
  .parallax {
    height: 120px;
  }
  .japanese-text {
    font-size: var(--fs-24);
  }
  .parallax-text {
    font-size: var(--fs-16);
  }
}

/* Pricing */
.pricing-heading {
  text-align: center;
}
.pricing-heading p {
  margin: 20px auto 10px;
}
.pricing-heading h2 {
  margin: 0 auto 60px;
}
.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.pricing-card {
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  width: 275px;
  min-height: 400px;
  background-color: var(--light-orange);
  border: 2px solid var(--dark-base);
  border-radius: 5px;
}
.card-top span,
.card-top p,
.card-top ul {
  margin-left: 10px;
}

.card-top p, li {
  font-size: var(--fs-14);
} 
.card-top span {
  display: inline-flex;
  font-size: var(--fs-20);
  font-weight: 800;
  padding: 10px 0 5px 0
}
.card-top p {
  margin-bottom: 25px;
} 
.card-top li {
  margin-bottom: 15px;
}  
.card-top ul {
  list-style-type: none;
}
.pricing-card a {
  margin: 0 auto 10px auto;
  align-self: center;
  font-weight: 600;
  text-decoration: none;
  color: var(--dark-base);
  border: 2px solid var(--dark-base);
  border-radius: 5px;
  background-color: var(--almond);
  padding: 10px 60px;
}
.card-1 {  
  transform: translateY(10px) rotate(-10deg);
}
.card-2 {
  transform: translateY(-10px);
  z-index: 2;
}
.card-3 {
   transform: translateY(10px) rotate(10deg);
}
.shadow{
  margin: 20px auto 150px;
}
@media (max-width: 900px) {
  .pricing-heading h2 {
    margin: 0 auto 20px;
    font-size: var(--fs-14);
  }
  .cards-container {
    flex-direction: column;
    align-items: center;
  }
  .card-1, .card-2, .card-3 {
    transform: none;
    margin-bottom: 20px;
  }
  .shadow{
    display: none;
  }
}

/* Contacts */
.contacts-section {
  min-height: 600px;
  background-image: url(./ressources/tradition-japan.jpg);
  background-size: 100% auto;
  background-position: center;
  text-align: center;
  display: flex;
  justify-content: center;  
}
.contacts-container {
  justify-content: center;
  border: 1px solid var(--dark-base);
  max-width: 500px;
  background-color: var(--light-gray);
  border-radius: 10px;
  align-self: center;
  padding: 25px 0;
  margin: 15px 0;
}
.contacts-heading h2 {
  margin-bottom: 30px;
}
.contacts-list {
  display: flex;
  flex-direction: column;
}
.contacts-links {
  align-self: center;
  width: 60%;
  border: 1px solid var(--dark-base);
  border-radius: 3px;
  background: var(--striped-pinky);
  padding: 30px 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  font-size: var(--fs-14);
  font-weight: 700;
  color: var(--dark-base);
}
.contacts-links a {
  color: var(--dark-base);
  text-underline-offset: 3px;
}
.contacts-links img {
  width: 6%;
}
footer {
  background-color: var(--light-orange);
  min-height: 40px;
  display: flex;
  justify-content: center;
}
footer a {
  align-self: center;
  color: var(--dark-base);
  font-size: var(--fs-14);
  font-weight: 600;
}
  